/* Animation of the header text */
h1 {
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0px 2px 4px #fff;
	overflow: hidden;
  	white-space: nowrap;
  	margin: 0 auto 20px auto; 
  	letter-spacing: .05em; 
  	animation: typing 2s steps(500, end), blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
body {
	font-family: Arial, sans-serif;
	padding: 20px;
 	background-color: #e1e1e1; 
}
header {
	margin: 40px 0 0 20px;
}

.title {
	font-size: 20px;
	font-weight: bold;
}
#edition_field {
	display: none;
	margin: 20px;
	padding: 20px;
	background-color: #fff;
}
#edition_field > form > p {
	font-size: 14px;
	font-weight: bold;
}
#edition_field > form > p > input {
	width: 98%;
	margin-top: 6px;
	padding: 6px;
}
.image {
	background: #dbdbdb;
	width: 100px;
	height: 150px;
}
.table_of_books {
    display: block;
	margin: 20px;
	background-color: #fff;
}
table {	
  	width: 100%;
  	border-spacing: 0;
}
td { 
	line-height: 26px;
	border-bottom: 1px solid #dbdbdb;
	vertical-align: middle;
}
tr:hover{
	-moz-box-shadow: 2px 2px 6px 2px #c1c1c1;
	-webkit-box-shadow: 2px 2px 6px 2px #c1c1c1;
	box-shadow: 2px 2px 6px 2px #c1c1c1;
}
tr:hover td:first-child {
	border-left: 4px solid #000;
}
tr td:first-child {
	width: 100px;
}
tr td:last-child {
	width: 120px;
}
tr td {
	padding: 20px;
	border-left: 4px solid transparent;
}
button {
	cursor: pointer;
 	color: #ffffff;
 	font-size: 15px;
 	background: #3498db;
 	padding: 10px 20px 10px 20px;
 	text-decoration: none;
 	border: none;
}
button:hover {
 	background: #186a9e;
 	text-decoration: none;
}
#cancel_book, .del {
	background: #bf3030;
}
#cancel_book:hover, .del:hover {
	background: #7d1e1e;
}
#edit, #del {
	color: #000;
	background: none;
	border: 1px solid #d3d3d3;
	width: 140px;
}
#edit:hover {
	background: #3498db;
} 
#del:hover {
	background: #bf3030;
}
footer {
	border-top: 1px solid #d3d3d3;
  	position:fixed;
  	right: 0;
  	left: 0;
  	padding: 10px;
  	text-align: center;
	background-color: #fff;
	bottom: 0;
}

/* media queries (for responsiveness) */
@media screen and (min-width: 1200px) {
	body {
		margin: 0 auto;
		width:  1100px;
	}
}
/* @media screen and (min-width: 769px and max-width: 1199px) {
	nothing here yet
}
@media screen and (min-width: 577px) and (max-width: 768px) {
	nothing here yet
} */
@media screen and (max-width: 576px) {
	h1 {
		font-size: 30px;
	}
	td {
		display:  block;
	}
}